* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background-color: #D3D3D3;

}

.navbar {
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: sticky;
    background-color: #DCDCDC;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}


.navbar  span {
    color: white;
    background-color: black;
    padding-bottom: 1px;
}
.navbar .menu li a {
    display: block;
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.navbar .menu li a:hover {
    border-bottom: 4px solid white;
    transition: 0.5s;

}
.navbar .menu li a i {
    color: black;

}
.login-btn {
    color: black !important;
    border: 1px white;
    border-radius: 7px;
    padding: 6px 7px;
    background-color: white;
    font-weight: bold !important;
}

/* content  */

.content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    color: gray;
    height: 100vh;
    box-shadow: 0 0 14px rgba(88, 79, 79, 0.1);

}
.fall {
    font-size: 70px;
    color: black;
    max-width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 7px;
}

.fall h1{

    font-family: Playfair Display;
}

.fall p{
    font-family: Playfair Display;
}

.qoute {
    font-size: 30x;
    max-width: fit-content;
    margin: auto;
    align-items: center;
    margin-top: 0px;
    margin-left: 420px;
    
}

.qoute p{
  
    color: black;
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 7px;
}


.btn {
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.content button {
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 7px;
    cursor: pointer; 
    transition: ease-out 0.3s;
    background-color: rgb(5, 5, 5);
    box-shadow: skyblue;
    outline: none;
}
.content button:hover {
    box-shadow: inset 300px 0 0 0 ;
    color: white;
}

/* product */

.Phead {
    font-family: 'Qwitcher Grypen', cursive;
    text-align: center;
    margin: auto;
    margin-top: 120px;
    font-size: 60px;
    font-weight: bold;
}
.Ptail {
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-family: 'Qwitcher Grypen', cursive;
}

/* item */

.sec {
    padding: 10px 5%;
   

}
.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-left: 40px;
    margin-top: 180px;
}

.product .card {
    width: 310px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;

}
.product .card img {
    height: 450px;
    width: 100%;
}
.product .card .desc {
    padding: 5px 20px;
    opacity: 0.8;
}
.product .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.product .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
 .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.buy-btn {
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}
.buy-btn:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;

}
.order-btn {
    margin: auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    max-width: fit-content;

}
.o-btn {
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(202, 21, 21);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.o-btn:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}
.o-btn:after {
    background-color: #000;
    color: white;
    transform: scale(0.9);
   
    
}
.fa-solid {
    padding-left: 5px;
}

/* visit */

.Pstore {
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}

.text-store h3 {
    margin-top: 400px;
    font-size: 70px;
    font-family: 'Combo', cursive;
}
.text-store p {
    font-size: 25px;
    margin-top: 40px;
    color: #242F9B;
}
.text-store h6 {
    font-size: 30px;
    margin-top: 50px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}
.fa-solid {
    margin-right: 5px;
}
.img img {
    width: 100%;
    margin-top: 25px;
    border-radius: 7px;
}


/* semi footer */

.semi-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    
}
.follow {
    margin-left: 3%;
    margin-top: 120px;
    cursor: pointer;
}
.follow h2 {
    font-size: 21px;
    margin-bottom: 15px;
}
.follow ul {
    text-decoration: none;
    list-style: none;
    align-items: center;
    font-family: 'Qwitcher Grypen', cursive;
}
.follow ul li {
    
    margin-bottom: 10px;
    font-family: 'Qwitcher Grypen', cursive;
}
.follow ul li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Qwitcher Grypen', cursive;
}
.follow a:hover {
    color: rgb(61, 61, 216);
}
.follow i {
    margin-right: 10px;

}
.term {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 30px;
}

.t a,
.pri a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Qwitcher Grypen', cursive;
}
.pri a:hover,
.t a:hover {
    color: rgb(61, 61, 216);
}

/* side bar */
.open {
    font-size: 40px;
    cursor: pointer;
    color: black;
    margin-top: 5px;
    
}
/* style="font-size:30px;cursor:pointer;color: #000;margin" */

.sidenav {
    margin-top: 5%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A9A9A9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }






/* footer */
.footer-text {
    text-align: center;
    background-color: rgb(1, 1, 1);
    color: rgb(232, 217, 217);
    padding-bottom: 10px;
    padding-top: 10px;
   margin-top: 12px;
    font-size: 20px;
    
}
